/* 系统管理模块业务样式*/

.table-wrapper {
  margin-bottom: 12px;
  padding-bottom: 4px;
}

.ntesterc-table__actions {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.ntesterc-table__actions a {
  flex-shrink: 0;
  white-space: nowrap;
}
