* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--ntesterc-bg);
}

#app {
  display: flex;
  flex-direction: column;
}

#app > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
}
